#transcript a {
  color: black;
}
.selected {
  background-color: #f5f5f5;
}
span.hidden {
  font-size: 0px;
}
span.hidden::after {
  background-color: #c0c0c0;
  font-size: medium;
  content: '...';
  cursor: col-resize;
}
span.speaker {
  font-weight: bold;
}
span.speaker.M {
  color: blue;
}
span.speaker.F {
  color: red;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
}
