#transcript {
  color: blue;
  padding-bottom: 41px !important;
}
#transcript s a {
  color: #cccccc;
}
#transcript u a {
  font-weight: bold;
}
.black {
  color: black;
}
#transcript a {
  color: black;
}
#preview {
  position: fixed;
  bottom: 61px;
  right: 20px;
  display: none;
}
#preview.visible {
  display: block;
}
.selected {
  background-color: #f5f5f5;
}
#transcript a.played {
  background-color: #cccccc;
}
#transcript a.unsure {
  border-bottom: 1px dashed red;
}
span.hidden {
  font-size: 0px;
}
span.hidden::after {
  background-color: #c0c0c0;
  font-size: medium;
  content: '...';
  cursor: col-resize;
}
#transcript p.speaker {
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 10px;
}
#transcript p.speaker.M {
  border-left-color: blue;
}
#transcript p.speaker.F {
  border-left-color: red;
}
#transcript p[data-speaker].speaker:before {
  content: attr(data-speaker);
  position: relative;
  display: inline-block;
  left: -220px;
  width: 200px;
  text-align: right;
  margin-right: -200px;
}
#transcript p.speaker.M:before {
  color: blue;
}
#transcript p.speaker.F:before {
  color: red;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 300px;
  height: 169px;
}
#editorMenu {
  margin-top: 52px;
}
.pusher {
  padding-top: 92px;
}
.sidebar {
  background-color: #fff;
}
.sidebar.left, .sidebar.right {
  margin-top: 92px !important;
  padding-bottom: 92px !important;
}
.ui.inverted.top.menu.fixed {
  z-index: 102;
}
.ui.nag {
  margin-top: 92px;
  background-color: #fff6f6;
}
.ui.nag:hover {
  background-color: #ffe6e6;
}
.ui.nag .title {
  color: #9f3a38;
}
.ui.nag > .close.icon {
  color: black;
}
@media print {
  .menu, .sidebar, #preview {
    display: none !important;
  }
  .pusher {
    padding-top: 0;
  }
  #transcript p.speaker {
    border-left-style: none;
  }
  #transcript p[data-time][data-speaker].speaker:before {
    content: attr(data-time) ' [' attr(data-speaker) ']';
    position: relative;
    display: inline-block;
    left: 0;
    width: auto;
    text-align: left;
    margin-right: 0.5em;
  }
  #transcript p.speaker.M:before {
    color: blue;
  }
  #transcript p.speaker.F:before {
    color: red;
  }
}
.cke_focus {
  outline: none;
}
