<% _.each(collection.reverse(), function(model) { %>
    <div class="item asset <%= model.selected ? 'selected' : '' %>" data-id="<%= model._id %>">
<% if (model.ready || model.error) { %>
      <div class="right floated content">
        <div class="ui top right pointing dropdown">
          <i class="dropdown icon"></i>
          <div class="menu">
<% if (model.ready) { %>
            <div class="item">Rename</div>
<% } %>
            <div class="item">Delete</div>
          </div>
        </div>
      </div>
<% } %>
<% if (model.error) { %>
      <i class="warning icon red"></i>
<% } else if (model.info.video_tracks) { %>
      <i class="file video outline icon blue"></i>
<% } else { %>
      <i class="file audio outline icon blue"></i>
<% } %>
      <div class="content">
<% if (model.error) { %>
        <div class="header"><%= model.name %></div>
        <div class="description"><%= model.errorMessage %></div>
<% } else if (model.ready) { %>
        <div class="header"><a href="#"><%= model.name %></a></div>
        <div class="description"><%= model.info.video_tracks ? 'video' : 'audio' %></div>
<% } else { %>
        <div class="header"><%= model.name %></div>
        <div class="description">Processing...</div>
<% } %>
      </div>
    </div>
<% }); %>
