<% _.each(collection, function(model) { %>
    <div class="item edit <%= model.selected ? 'selected' : '' %>">
      <div class="right floated content">
        <button class="mini ui button <%= (model.jobid && !model.ready) ? 'loading' : '' %>" data-id="<%= model._id %>">
          <i class="cut icon"></i>Export
        </button>
      </div>
      <i class="edit icon"></i>
      <div class="content">
        <div class="header"><a href="#" data-id="<%= model._id %>"><%= model.name %></a></div>
        <div class="description"><%= model.description %></div>
      </div>
    </div>
<% }); %>
